body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

button{
    background-color: #2563EB;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

#message{
    opacity:0;
    margin-top:40px;
    color:#ffad48;
    font-size:32px;
    transition:opacity 1.5s ease;
}

#message.show{
    opacity:1;
}

#hearts {
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
}

.heart {
    position: absolute;
    bottom: -40px;
    color: #ff4d6d;
    font-size: 24px;
    animation: floatUp linear forwards;
}

@keyframes floatUp {
    from {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    to {
        transform: translateY(-110vh) translateX(40px) scale(1.5);
        opacity: 0;
    }
}
