<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>옥원주사랑해</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>

<div id="hearts"></div>
<body>

    <h1>🎉 합격 축하해!</h1>

    <p>KPMG 딜계사 옥원주가 된 걸 축하해
         <br> 
         고생 많았어❤️</p>

    <button id="celebrateBtn">축하받기</button>
    <h2 id="message"> 이제 삼일 드가자~~~~~ </h2>
    

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>